body,h2, p, ul {
    margin: 0;
    padding: 5px;
}

body {
    border-radius: 60px;
    background-color: rgb(202, 166, 99);
    font-family: 'Arial', sans-serif;
}

header {
    background-color: rgb(48, 46, 42);
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header ul {
    list-style: none;
}

header ul,li{
    display: inline;
    margin-right: 15px;
}

header a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

article{
    text-align: center;
    padding: 20px;
}

#AboutUs img{
    border-radius: 50px;
}

section{
    color:rgb(32, 35, 37);
    padding: 10px;
}

figure {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    figure {
        width: 100%;
    }
}

footer {
    padding: 20px;
    text-align: center;
}

#ContactUs {
    text-align: center;
    padding: 20px;
}

a[href="#top"]{
    display: block;
    text-align: right;
    background-color: rgb(72, 21, 21);
    color: aliceblue;
   position: fixed;
   bottom: 20px;
   right: 20px;
}

